<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href=""><i id="mug" class="fa-solid fa-mug-hot fa-3x">&nbsp;</i><span style="font-size:25px">Resto cafes</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page">
                    <form action="">
                        <input (keyup)="search($event)" style="width: 600px;" type="text" class="form-control" placeholder="Search resturant name ">
                    </form></a></li>
                <li class="nav-item fs-4"><a class="nav-link" href="add-resturant">Add a resturant</a></li>
               
            </ul>
        </div>
    </div>
</nav>