<div class="container mt-5 mb-3 border border-light ">
    <h3 class="text-light text-center mb-4 mt-2">Add New Restuarant Details Here</h3>
    <form action="" (ngSubmit)="addRestuarant()" >
        <div class="row">
            <div class="col-md-6">
                <div class="mb-2">
                    <input name="id" [(ngModel)]="id"  type="text" class="form-control" placeholder="Resturant id ">
                </div>
                <div class="mb-2">
                    <input name="neighborhood" [(ngModel)]="neighborhood" type="text" class="form-control" placeholder="Resturant neighborhood">
                </div>
                <div class="mb-2">
                    <input name="photograph" [(ngModel)]="photograph" type="text" class="form-control" placeholder=" Resturant image">
                </div>
                <div class="mb-2">
                    <label class="text-light mb-2" for="">Operating Hours</label><br>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <input name="Monday" [(ngModel)]="Monday" type="text" class="form-control mb-2" placeholder=" Monday">
                            <input name="Tuesday" [(ngModel)]="Tuesday" type="text" class="form-control mb-2" placeholder="Tuesday">
                            <input name="Wednesday" [(ngModel)]="Wednesday" type="text" class="form-control mb-2" placeholder=" Wednesday">
                            <input name="Thursday" [(ngModel)]="Thursday" type="text" class="form-control mb-2" placeholder=" Thursday">
                            <input name="Friday" [(ngModel)]="Friday" type="text" class="form-control mb-2" placeholder=" Friday">
                            <input name="Saturday" [(ngModel)]="Saturday" type="text" class="form-control mb-2" placeholder=" Saturday">
                            <input name="Sunday" [(ngModel)]="Sunday" type="text" class="form-control mb-2" placeholder=" Sunday">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <input name="name" [(ngModel)]="name" type="text" class="form-control" placeholder=" Resturant name">
                </div>
                <div class="mb-2">
                    <input name="address" [(ngModel)]="address" type="text" class="form-control" placeholder="Resturant Address">
                </div>
                <div class="mb-2">
                    <input name="cuisine_type" [(ngModel)]="cuisine_type" type="text" class="form-control" placeholder=" cuisine_type">
                </div>
                <div>
                    <label class="text-light mb-2" for="">Reviews</label><br>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input name="Name" [(ngModel)]="Name" type="text" class="form-control mb-2" placeholder=" Name">
                        <input name="Date" [(ngModel)]="Date" type="text" class="form-control mb-2" placeholder="Date">
                        <input name="Rating" [(ngModel)]="Rating" type="text" class="form-control mb-2" placeholder=" Rating">
                        <input name="comments" [(ngModel)]="comments" type="text" class="form-control mb-2" placeholder=" comments">
                       
                    </div>
                </div>
                <div class="mb-1">
                    <label class="text-light mb-2" for="">Location</label><br>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input name="lat" [(ngModel)]="lat" type="text" class="form-control mb-2" placeholder=" Latitude">
                        <input name="lng" [(ngModel)]="lng" type="text" class="form-control mb-2" placeholder="Longitude">                    
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-4">
            <input id="add" type="submit" value="Add Restuarant" class="btn btn-dark mt-4">
        </div>
    </form>
</div>