

<div class="container mt-5 mb-3 border border-light ">
    <h3 class="text-light text-center mb-4 mt-2">Update Restuarant Details Here</h3>
    <form #upadateRestForm="ngForm"  (ngSubmit)="UpdateRestuarant(upadateRestForm)" >
        <div class="row">
            <div class="col-md-6">
                <div class="mb-2">
                    
                    <input name="id" [(ngModel)]="restBody.id"  type="text" class="form-control" placeholder="Resturant id ">
                </div>
                <div class="mb-2">
                    <input name="neighborhood" [(ngModel)]="restBody.neighborhood" type="text" class="form-control" placeholder="Resturant neighborhood">
                </div>
                <div class="mb-2">
                    <input name="photograph" [(ngModel)]="restBody.photograph" type="text" class="form-control" placeholder=" Resturant image">
                </div>
                <div class="mb-2">
                    <label class="text-light mb-2" for="">Operating Hours</label><br>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <input name="Monday" [(ngModel)]="restBody.operating_hours.Monday" type="text" class="form-control mb-2" placeholder=" Monday">
                            <input name="Tuesday" [(ngModel)]="restBody.operating_hours.Tuesday" type="text" class="form-control mb-2" placeholder="Tuesday">
                            <input name="Wednesday" [(ngModel)]="restBody.operating_hours.Wednesday" type="text" class="form-control mb-2" placeholder=" Wednesday">
                            <input name="Thursday" [(ngModel)]="restBody.operating_hours.Thursday" type="text" class="form-control mb-2" placeholder=" Thursday">
                            <input name="Friday" [(ngModel)]="restBody.operating_hours.Friday" type="text" class="form-control mb-2" placeholder=" Friday">
                            <input name="Saturday" [(ngModel)]="restBody.operating_hours.Saturday" type="text" class="form-control mb-2" placeholder=" Saturday">
                            <input name="Sunday" [(ngModel)]="restBody.operating_hours.Sunday" type="text" class="form-control mb-2" placeholder=" Sunday">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <input name="name" [(ngModel)]="restBody.name" type="text" class="form-control" placeholder=" Resturant name">
                </div>
                <div class="mb-2">
                    <input name="address" [(ngModel)]="restBody.address" type="text" class="form-control" placeholder="Resturant Address">
                </div>
                <div class="mb-2">
                    <input name="cuisine_type" [(ngModel)]="restBody.cuisine_type" type="text" class="form-control" placeholder=" cuisine_type">
                </div>
                <div>
                    <label class="text-light mb-2" for="">Reviews</label><br>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12" *ngFor="let review of restBody['reviews']">
                        <input name="Name" [(ngModel)]="review.name" type="text" class="form-control mb-2" placeholder=" Name">
                        <input name="Date" [(ngModel)]="review.date" type="text" class="form-control mb-2" placeholder="Date">
                        <input name="Rating" [(ngModel)]="review.rating" type="text" class="form-control mb-2" placeholder=" Rating">
                        <input name="comments" [(ngModel)]="review.comments" type="text" class="form-control mb-2" placeholder=" comments">
                       
                    </div>
                </div>
                <div class="mb-1">
                    <label class="text-light mb-2" for="">Location</label><br>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input name="lat" [(ngModel)]="restBody.latlng.lat" type="text" class="form-control mb-2" placeholder=" Latitude">
                        <input name="lng" [(ngModel)]="restBody.latlng.lng" type="text" class="form-control mb-2" placeholder="Longitude">                    
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-4">
            <input id="add" type="submit" value="Update Restuarant" class="btn btn-dark mt-4">
        </div>
    </form>
</div>
